@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.textshadowhover :hover {
   
    text-shadow: 0 1px 2px #ffffff;
}
.resume-col-right {
    border-left: .3rem solid var(--aqua-color-1);
    padding-left: 0;
    overflow: hidden;
    height: 0;
    width: 70rem;
    opacity: 0;
    transition: all ease-in-out .3s;
    max-width: 70rem;
}